<li><%= link_to("lucky3~5", lucky_cart3_products_path, method: :post) %></li>
<li><%= link_to("lucky4~6", lucky_cart4_products_path, method: :post) %></li>
<li><%= link_to("lucky5~7", lucky_cart5_products_path, method: :post) %></li>
<li><%= link_to("lucky6~8", lucky_cart6_products_path, method: :post) %></li>
<li><%= link_to("lucky7~9", lucky_cart7_products_path, method: :post) %></li>
