<script type="text/javascript">
$(function(){
	var moveHeight = 226,
		moveTime = 200,
		curMove = null;
	$('.caselist li').hover(function (e){
		var curLi = $(this);
		curMove = setTimeout(function (){
			curLi.children('a.tagImg1').animate({ top: '-' + moveHeight + 'px' }, moveTime);
			curLi.children('div.tagDiv1').animate({ top: '0px' }, moveTime);
		}, 200);
	},function(e){
		clearTimeout(curMove);
		$(this).children('a.tagImg1').animate({ top: '0px' }, moveTime);
		$(this).children('div.tagDiv1').animate({ top: moveHeight + 'px' }, moveTime);
	});
});
</script>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#323031; border:none; border-radius:0;">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" style="color:#fff;" href="/dproducts">黑暗料理</a>
		<ul class="nav navbar-nav navbar-left">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-e panded="false" style="color:#fff; font-size:18px;">分类<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<% Dcategory.all.each do |dcategory| %>
						<li>
							<%= link_to(dcategory.name, dproducts_path(dcategory: dcategory.name)) %>
						</li>
					<% end %>
				</ul>
			</li>
		</ul>
		<a class="navbar-brand" style="color:#fff;" href="/">品味实验室</a>
		<a class="navbar-brand" style="color:#fff;" href="/party/index">大厨聚会</a>
	</div>


	<a class="navbar-brand" style="color:#fff;" href="/dcarts">后厨( <%= current_dcart.dproducts.count %> )</a>
</nav>

<div class="img-bg-dindex-1">
</div>

<ul class="caselist">
  <% @dproducts.each do |dproduct| %>
    <li>
		  <a href="JavaScript:void(0)" class="tagImg1" target="_blank"><img src="https://ws3.sinaimg.cn/large/006tNc79gy1fgbwf3qhjrj306a06a0t1.jpg"></a>
			<div class="tagDiv1">
				<a href="JavaScript:void(0)" class="tagImg2" target="_blank">
					<% if dproduct.image.present? %>
						<%= image_tag(dproduct.image.thumb.url) %>
					<% else %>
						<%= image_tag("http://placehold.it/200x200&text=No Pic") %>
					<% end %>
				</a>
				<p class="tagP3">
					<a href="JavaScript:void(0)"><%= dproduct.title %></a>
					<% if dproduct.quantity.present? && dproduct.quantity > 0 %>
						<%= link_to(add_to_dcart_dproduct_path(dproduct), :method => :post) do %>
							加入后厨
						<% end %>
					<% else %>
							都在碗里了
					<% end %>
				</p>
			</div>
    </li>
  <% end %>
</ul>
