<%= render "common/flashes" %>
<div class="img-bg-dindex-1">
  <div class="row">
    <div class="pic-dindex-1">
      <a href="#" style="position:absolute;">
        <img src='<%= image_url 'D1.png' %>'>
      </a>
      <div class="clearfix"></div>
    </div>
    <div class="pic-dindex-2">
      <a href="/" style="position:absolute;">
        <img src='<%= image_url 'D2.png' %>'>
      </a>
    </div>
    <div class="pic-dindex-3">
      <!-- <a href="/" style="position:absolute;"> -->
      <%= link_to dcarts_path do  %>
        <img src='<%= image_url 'D3.png' %>'>
        <% end %>
      <!-- </a> -->
    </div>
  </div>
</div>

<div class="col-md-10 col-centered">
  <% @dproducts.each do |dproduct| %>
    <div class="col-md-3">

      <% if dproduct.image.present? %>
        <%= image_tag(dproduct.image.thumb.url, class: "") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
      <% end %>

      <p class=""><%= dproduct.title %></p>
      <% if dproduct.quantity.present? && dproduct.quantity > 0 %>
        <%= link_to(add_to_dcart_dproduct_path(dproduct), :method => :post, :class => "btn add2cart") do %>
          加入后厨
        <% end %>
      <% else %>
          都在碗里了
      <% end %>

    </div>
  <% end %>
</div>
