<%= render "common/flashes" %>
<div class="img-bg-dindex-1">
  <div class="row">
    <div class="pic-dindex-1">
      <a href="#" style="position:absolute;">
        <img src='<%= image_url 'D1.png' %>'>
      </a>
      <div class="clearfix"></div>
    </div>
    <div class="pic-dindex-2">
      <a href="/products" style="position:absolute;">
        <img src='<%= image_url 'D2.png' %>'>
      </a>
    </div>
    <div class="pic-dindex-3">
      <!-- <a href="/" style="position:absolute;"> -->
      <%= link_to dcarts_path do  %>
        <img src='<%= image_url 'D3.png' %>'>
      <% end %>
      <!-- </a> -->
    </div>
  </div>
</div>

<!-- dproduct 分类 -->
<ul class="nav navbar-nav navbar-left">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-e panded="false">d分类<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <% Dcategory.all.each do |dcategory| %>
        <li>
          <%= link_to(dcategory.name, dproducts_path(dcategory: dcategory.name)) %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>

<div class="col-md-8 col-centered">
  <% @dproducts.each do |dproduct| %>
    <div class="col-md-3 col-sm-3 col-xs-6 table-dindex-1">

      <div class="">
        <div class="text-index-1">
          <span class="font-dindex-2">&nbsp;</span>
        </div>
        <% if dproduct.image.present? %>
          <%= image_tag(dproduct.image.thumb.url, class: "bg-dindex-1") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
        <% end %>
      </div>

      <h4 class="font-dindex-1"><%= dproduct.title %></h4>
      <% if dproduct.quantity.present? && dproduct.quantity > 0 %>
        <%= link_to(add_to_dcart_dproduct_path(dproduct), :method => :post, :class => "btn add2cart font-dindex-3") do %>
          加入后厨
        <% end %>
      <% else %>
          都在碗里了
      <% end %>

    </div>
  <% end %>
</div>
