<div class="row">
  <div class="col-md-6">
    <% if @dproduct.image.present? %>
      <%= image_tag(@dproduct.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @dproduct.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @dproduct.description %>
      </p>
    </div>
    <div> 数量 : <%= @dproduct.quantity %> </div>
    <div class="product-price"> ￥ <%= @dproduct.price %> </div>
    <div class="pull-right">
      <% if @dproduct.quantity > 0 %>
        <%= link_to("快到碗里来", add_to_dcart_dproduct_path(@dproduct), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        都在碗里了 
      <% end %>
    </div>
  </div>
</div>
