<div class="img-cart-1">
</div>
<div class="row row-cart-1">
  <div class="col-md-8 col-centered">
     <div class="gray-box box-cart-1" id="box-cart-1">
        <div class="title">
          <%= link_to("清空后厨", clean_dcarts_path ,
                      method: :delete , class: "pull-right",
                      style: "text-decoration: underline;",
                      data: { confirm: "确定全都赶出去"} )%>
          <h2> 后厨 </h2>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr class="cart-table-title">
              <th>商品资讯</th>
              <th>单价</th>
              <th>数量</th>
              <th>操作选项</th>
            </tr>
          </thead>
          <tbody>
            <% current_dcart.dcart_items.each do |dcart_item| %>
              <tr>
                <td>
                  <%= link_to dproduct_path(dcart_item.dproduct) do %>
                  <% if dcart_item.dproduct.image.present? %>
                    <%= image_tag(dcart_item.dproduct.image.thumb.url, class: "bg-dindex-1 ") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                  <% end %>
                  <% end %>
                  <%= link_to(dcart_item.dproduct.title, dproduct_path(dcart_item.dproduct),style:"font-weight:500") %>
                </td>
                <td>
                  <%= dcart_item.dproduct.price %>
                </td>
                <td>
                  <%= form_for dcart_item, url: dcart_item_path(dcart_item.dproduct_id) do |f| %>
                  <%= f.select :quantity, 1..dcart_item.dproduct.quantity %>
                    <%= f.submit "更新", data: { disable_with: "Submiting..." } %>
                  <% end %>
                </td>
                <td>
                  <%= link_to dcart_item_path(dcart_item.dproduct_id), method: :delete do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
         <span class="pull-right">
        <div class="shipping-total shipping-price">
          <h4 ng-class="{'highlight': cartOrder.totalPrice &gt; 0}" class="highlight">
             应付总额：
          <i ng-bind="cartOrder.totalPrice" class="ng-binding">
            <%= render_dcart_total_price(current_dcart) %> ￥
          </i>
          </h4>
        </div>
      </span>
      <div class="total clearfix">
      </div>
      <hr>
      <div class="pull-right btn-posi-cart-1">
        <%= link_to("确认结账", dcheckout_dcarts_path, method: :post, id:"btn-primary-cart-1") %>
      </div>
    </div>
  </div>
</div>
