<div class="container-fluid">
  <div class="row row-search-1">
    <div class="col-md-9 col-centered">
      <% if @products.blank? %>
        <h2 class="posi-search-1">抱歉，这个底料太奇葩了，实验室不能接收。</h2>
      <% else %>
        <h2>这里是关于"<%= @query_string %>"的底料</h2>
        <% @products.each do |product| %>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <%= link_to product_path(product) do %>
              <% if product.photos.present? %>
                <%= image_tag(product.photos[0].avatar.thumb.url) %>
              <% else %>
                <%= image_tag("http://ww3.sinaimg.cn/large/006tNbRwgy1fft1b2oiz2j305k05ktb2.jpg Pic") %>
              <% end %>
                <h3><%= link_to(product.title, product_path(product))%></h3>
                <span class="pr1">售价</span>
                <span class="pr2">￥ <%= product.price %> </span>
              <% if product.quantity.present? && product.quantity > 0 %>
                <%= link_to(add_to_cart_product_path(product), :method => :post, id: "btn-primary-3" ) do%>
                加入实验室
              <% end %>
              <% else %>
                正在积极备货中......
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
