<div class="img-cart-1">
</div>

<div class="container-fluid">
  <div class="row row-pro-show-1">
    <div class="col-md-8 col-centered">

      <div class="col-md-5 col-sm-5 col-xs-5">
        <!-- <% if @product.image.present? %>
          <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
        <% end %> -->
        <% if @photos.present? %>
          <% @photos.each_with_index do |p, index| %>
            <% if index == 0 %>
              <%= image_tag p.avatar.medium.url %>
              <div style="letter-spacing: -8px">
            <% else %>
              <%= image_tag p.avatar.thumb.url %>
            <% end %>
          <% end %>
              </div>
          <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
        <% end %>
      </div>

      <div class="col-md-7 col-sm-7 col-xs-7">
        <h2> <%= @product.title %> </h2>
        <p class="pr1">
          <%= @product.description %>
        </p>
        <div class="bg-grey">
          <span class="pr1">售价</span>
          <span class="pr2">￥ <%= @product.price %> </span>
        </div>
        <div class="pr3">
          库存 : <%= @product.quantity %>
        </div>
        <div class="pull-left">
          <% if @product.quantity.present? && @product.quantity > 0 %>
            <%= link_to("加入实验室", add_to_cart_product_path(@product), :method => :post,
            id: "btn-primary-1") %>
          <% else %>
            正在积极备货中......
          <% end %>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default posi-comment-1">
          <div class="panel-heading">
            <h3>
              菜品评价（<%= @product.comments.count %> ）
            </h3>
          </div>
          <div class="panel-body">
            <%= render @product.comments%>
            <%= render "comments/form"%>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
