<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">JDStore </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:#C73234;">
      <ul class="nav navbar-nav">
        <li class="active product-1">
          <a href="/products" style="background-color:#C73234; color:#fff;">Products</a>
        </li>
      </ul>
<!-- 搜索 -->
      <div class="nav navbar-nav navbar-left">
        <%= form_tag search_products_path , :method => :get do %>
          <div class="input-group" id="search-id" >
            <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="Please enter the menu information">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
              </div>
            </div>
          <% end %>
        </div>
<!-- 搜索 -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do  %>
            购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
          <% end %>
        </li>
        <% if !current_user %>
          <li><%= link_to("注册", new_user_registration_path) %> </li>
          <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li>
                  <%= link_to("Admin 选单", admin_products_path ) %>
                </li>
                <li>
                  <%= link_to("我的订单", account_orders_path ) %>
                </li>
              <% end %>
              <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
  <title>Hire A Chef</title>
  <link rel='dns-prefetch' href='//s.w.org' />
  <link rel="alternate" type="application/rss+xml" title="Hire A Chef &raquo; Feed" href="https://www.hireachef.com/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Hire A Chef &raquo; Comments Feed" href="https://www.hireachef.com/comments/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Hire A Chef &raquo; Home Comments Feed" href="https://www.hireachef.com/home/feed/" />
  <script type="text/javascript">
  	window._wpemojiSettings = {
    "baseUrl"
    :"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext": ".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.hireachef.com\/wp-includes\/js\/wp-emoji-release.min.js"
  }};
  !function(a,b,c) {
  function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag": return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);
  case"emoji4": return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e
  }
  return!1
  }
  function e(a) {
  var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)
  }
  var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports= {
  everything: !0,everythingExceptFlag:!0
  },h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function() {
  c.DOMReady=!0
  },c.supports.everything||(g=function() {
  c.readyCallback()
  },b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function() {
    "complete"
  ===b.readyState&&c.readyCallback()
  })),f=c.source|| {
  },f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))
  }(window,document,window._wpemojiSettings);
  		</script>
  <style type="text/css">
  img.wp-smiley,
  img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
  }
</style>
  <link rel='stylesheet' id='cptchpr_stylesheet-css'  href='https://www.hireachef.com/wp-content/plugins/captcha-pro/css/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='contact-form-7-css'  href='https://www.hireachef.com/wp-content/plugins/contact-form-7/includes/css/styles.css' type='text/css' media='all' />
  <link rel='stylesheet' id='rs-plugin-settings-css'  href='https://www.hireachef.com/wp-content/plugins/revslider/rs-plugin/css/settings.css?rev=4.5.6' type='text/css' media='all' />
  <style id='rs-plugin-settings-inline-css' type='text/css'>
    .tp-caption.caption-primary {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px
    }
    .tp-caption.caption-white-background {
    padding: 10px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #0197ec;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0,0,0,.25)
    }
    .tp-caption.caption-long-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    text-align: justify
    }
    .tp-caption.noshadow {
    }
    .tp-caption.caption-dark-bg {
    font-size: 46px;
    line-height: 46px;
    font-weight: 400;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 15px;
    text-align: justify;
    border-width: 0px;
    border-color: rgb(51,51,51);
    border-style: none
    }
    .tp-caption.caption-primary-white {
    font-size: 40px;
    line-height: 42px;
    font-weight: 400;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    border-color: rgb(34,34,34);
    border-style: none
    }
    .tp-caption.caption-primary-white-2 {
    color: rgb(255,255,255);
    background-color: transparent;
    font-size: 44px;
    line-height: 45px;
    font-weight: 400;
    text-decoration: none;
    border-width: 0px;
    border-color: rgb(34,34,34);
    border-style: none
    }
    .tp-caption.caption-primary-white-3 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    border-color: rgb(34,34,34);
    border-style: none
    }
    .tp-caption.caption-dark-bg2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 15px;
    text-align: justify;
    border-radius: 3px 3px 3px 3px;
    border-width: 0px;
    border-color: rgb(51,51,51);
    border-style: none
    }
    .tp-caption.caption-primary-white2 {
    font-size: 21px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    border-color: rgb(34,34,34);
    border-style: none
    }
    .tp-caption.caption-dark-bg3 {
    font-size: 27px;
    line-height: 33px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 15px 15px 15px;
    text-align: justify;
    border-radius: 3px 3px 3px 3px;
    border-width: 0px;
    border-color: rgb(51,51,51);
    border-style: none
    }
    .tp-caption.caption-primary {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px
    }
    .tp-caption.caption-white-background {
    padding: 10px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #0197ec;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0,0,0,.25)
    }
    .tp-caption.caption-long-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    text-align: justify
    }
    .tp-caption.noshadow {
    }
  </style>
  <link rel='stylesheet' id='theme-bootstrap-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/bootstrap.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-frontend-style-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-frontend-extensions-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/extensions.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-bootstrap-responsive-1170-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/bootstrap-responsive-1170.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-bootstrap-responsive-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/bootstrap-responsive.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-fontawesome-css'  href='https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.fontawesome/source/css/font-awesome.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-icomoon-css'  href='https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.icomoon/source/css/icomoon.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-skin' href='https://www.hireachef.com/wp-content/uploads/2016/11/Default-Skin_54ce98c851b37c14ba88fe891dd1e475.css' type='text/css' media='all'/>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var CloudFwOp = {
  "themeurl"
    :"https:\/\/www.hireachef.com\/wp-content\/themes\/envision","ajaxUrl": "https:\/\/www.hireachef.com\/wp-admin\/admin-ajax.php","device":"widescreen","RTL":"","SSL":"1","protocol":"https","responsive":"1","lang":"en-US","sticky_header":"1","header_overlapping":"","sticky_header_offset":"-30","uniform_elements":"1","disable_prettyphoto_on_mobile":"1","gallery_overlay_opacity":"0.9"
    };
  /* ]]> */
  </script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/jquery.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/jquery-migrate.min.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/plugins/wp_pro_ad_system/templates/js/load_ads.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min.js?rev=4.5.6'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.5.6'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/common.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/modernizr-2.6.2-respond-1.1.0.min.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/noconflict.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/cloudfw/js/webfont.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/extensions.js?3'></script>
  <link rel='https://api.w.org/' href='https://www.hireachef.com/wp-json/' />
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.hireachef.com/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.hireachef.com/wp-includes/wlwmanifest.xml" />
  <link rel="canonical" href="https://www.hireachef.com/" />
  <link rel='shortlink' href='https://www.hireachef.com/' />
  <link rel="alternate" type="application/json+oembed" href="https://www.hireachef.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.hireachef.com%2F" />
  <link rel="alternate" type="text/xml+oembed" href="https://www.hireachef.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.hireachef.com%2F&#038;format=xml" />
  <link rel="apple-touch-icon" sizes="76x76" href="/wp-content/uploads/fbrfg/apple-touch-icon.png?v=Om5R5WaW07">
  <link rel="icon" type="image/png" href="/wp-content/uploads/fbrfg/favicon-32x32.png?v=Om5R5WaW07" sizes="32x32">
  <link rel="icon" type="image/png" href="/wp-content/uploads/fbrfg/favicon-16x16.png?v=Om5R5WaW07" sizes="16x16">
  <link rel="manifest" href="/wp-content/uploads/fbrfg/manifest.json?v=Om5R5WaW07">
  <link rel="mask-icon" href="/wp-content/uploads/fbrfg/safari-pinned-tab.svg?v=Om5R5WaW07" color="#5bbad5">
  <link rel="shortcut icon" href="/wp-content/uploads/fbrfg/favicon.ico?v=Om5R5WaW07">
  <meta name="msapplication-config" content="/wp-content/uploads/fbrfg/browserconfig.xml?v=Om5R5WaW07">
  <meta name="theme-color" content="#ffffff"><meta name="p:domain_verify" content="d055cedab12a5e7e1227a5bdda13950c"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script>
      (function(i,s,o,g,r,a,m) {
  i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)
  },i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-36015869-1', 'auto');
      ga('send', 'pageview');
  </script>
  <script type="text/javascript">
    (function() {
    	"use strict"
  ;
    	if( document.cookie.indexOf('device_pixel_ratio') == -1
    	    && 'devicePixelRatio' in window
    	    && window.devicePixelRatio >= 1.5 ){
    		var date = new Date();
    		date.setTime( date.getTime() + 3600000 );
    		document.cookie = 'device_pixel_ratio=' + window.devicePixelRatio + ';' +  ' expires=' + date.toUTCString() +'; path=/';
    		//if cookies are not blocked, reload the page
    		if(document.cookie.indexOf('device_pixel_ratio') != -1) {
    		    window.location.reload();
  }
    	}
    })();
  </script>
  	<link rel="shortcut icon" href="https://www.hireachef.com/wp-content/uploads/2016/11/favicon.ico" />
  <style type= "text/css">@media (min-width:980px ) {
  #logo{max-width: 33%
  }
  #logo a {
  max-width: 100%
  }}
  </style>
  <!-- Load Fonts -->
  <script type="text/javascript">
    // <![CDATA[
    if ( typeof WebFont == "object" && typeof WebFont.load == "function" ) {
  WebFont.load({
    	  	google: {families: [ "Dancing+Script:regular,700:latin","Raleway:100,200,300,regular,500,600,700,800,900:latin","Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic:latin-ext,vietnamese,greek,cyrillic-ext,greek-ext,latin,cyrillic" ]
  },
  fontinactive: function(fontFamily, fontDescription) {
  }
    	});
    }
  </script>
    <meta name="google-site-verification" content="6bGaTQhRe-Hg5cTcDh6m9lXW8WYNAv7itRqDHHYJ1wU" />
    <script type="text/javascript">
        document.documentElement.className = document.documentElement.className.replace('no-js','js');
        document.documentElement.className = document.documentElement.className.replace('html-loaded','html-loading');
        (function() {
            "use strict"
  ;
            setTimeout(function(){
                document.documentElement.className = document.documentElement.className.replace('html-loading','html-loaded');
  },6000);
  })();
  jQuery(function() {
  jQuery('html').removeClass('html-loading').addClass('html-loaded');
  });
  </script>
</head>
<!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**-->


<!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**-->
<body class="home page-template-default page page-id-6 run" itemscope itemtype="http://schema.org/WebPage">
  <div id="side-panel-pusher">
    <div id="main-container">
      <div id="page-wrap">
        <header id="page-header" class="clearfix">
          <div id="header-container" class="header-style-1 logo-position-left navigation-position-right sticky-logo-position-left sticky-navigation-position-right no-stuck clearfix"  data-responsive="{&quot;css&quot;:{&quot;padding-bottom&quot;:{&quot;phone&quot;:20,&quot;tablet&quot;:30,&quot;widescreen&quot;:0}}}">

              <div class="container relative">
                <div id="logo">
                  <a href="https://www.hireachef.com">
                    <img  id="logo-desktop" class="visible-desktop hide-on-stuck " src="https://www.hireachef.com/wp-content/uploads/2014/07/logo.png" data-at2x="https://www.hireachef.com/wp-content/uploads/2014/07/logo.png" alt="Hire A Chef" style="margin-top: 4px;  margin-bottom: 14px; margin-left:-200px;"/>
                   </a>
                </div><!-- /#logo -->
                <nav id="navigation" class="without-navigation-holder">

                	<ul id="header-navigation" class="sf-menu clearfix unstyled-all">
                    <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item level-0 top-level-item to-right">
                      <a href="/">Home</a>
                    </li>
                    <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page level-0 top-level-item to-right">
                      <a href="products">About Us</a>
                    </li>
                    <li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0 top-level-item has-child fallout link-disabled to-right">
                      <a>Chefs<i class="ui--caret fontawesome-angle-down px18"></i></a>
                      <ul class="sub-menu">
                      	<li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/search/">Search For A Chef</a>
                        </li>
                      	<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/chef-login/">Chef Login</a>
                        </li>
                      	<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/get-a-listing/">Get A Listing</a>
                        </li>
                      </ul>
                    </li>
                    <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0 top-level-item has-child fallout link-disabled to-right">
                      <a>Help<i class="ui--caret fontawesome-angle-down px18"></i></a>
                      <ul class="sub-menu">
                      	<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/why-a-personal-chef/">What Is A Personal Chef Service?</a>
                        </li>
                      	<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/frequently-asked-questions/">FAQ&#8217;s</a>
                        </li>
                      </ul>
                    </li>
                    <li id="menu-item-475" class="menu-item menu-item-type-custom menu-item-object-custom level-0 top-level-item to-right">
                      <a href="http://info.hireachef.com/blog">Blog</a>
                    </li>
                    <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page level-0 top-level-item to-right">
                      <a href="https://www.hireachef.com/contact-us/">Contact Us</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </header>
<!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**-->
