<!DOCTYPE html>
<html>
  <head>
    <head>
      <title>TASTE LAVORATORY</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <div class="" style="position:absolute; top:55px; left:0; width:300px;">
          <%= render "common/flashes" %>
        </div>
        <%= yield %>
        <%= render "common/footer"%>
      </div>
    </div>
  </body>
</html>
