<!DOCTYPE html>
<html>
  <head>
    <head>
      <title>TASTE LAVORATORY</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    </head>
  </head>

  <body>
    <div class="container-fluid" style="margin-right:-25px; margin-left:-10px;">
      <div class="navbar-fixed-top">
        <%= render "common/navbar" %>
      </div>
      <div style="margin-top:160px;">
        <%= render "common/flashes" %>
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
