<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>品味实验室</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <div class="" style="position:absolute; top:55px; left:0; width:300px;">
          <%= render "common/flashes" %>
        </div>
        <div style="margin-bottom:400px;">
          <%= yield %>
        </div>

        <%= render "common/footer"%>
      </div>
    </div>
  </body>
</html>
